<p>form works!</p>

<form style="margin-left: 30px;" [formGroup]="projectForm"
        novalidate
        (ngSubmit)="save()" >
        <div fxLayout="row wrap"  fxLayoutGap="15px grid" >
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="25%"  >
                <mat-form-field fxFlex="100%"  >
                  <mat-label >מספר פרויקט</mat-label>
                  <input matInput type="text"  formControlName="projectId"   >
                </mat-form-field>
             </div>
        
        
            <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="25%"  >
                <mat-form-field fxFlex="100%"  >
                  <mat-label >שם פרויקט</mat-label>
                  <input matInput type="text"  formControlName="projectName"   >
                </mat-form-field>
             </div>
             <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="25%"  >
              <mat-form-field fxFlex="100%"  >
                <mat-label >תיאור פרויקט</mat-label>
                <input matInput type="text"  formControlName="projectDesc"   >
              </mat-form-field>
           </div>
        </div>

     
        <div fxLayout="row wrap"  fxLayoutGap="15px grid">
            <button mat-raised-button type="submit"  >שמור</button>
        </div>
       
</form>
